body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #efe7e2;
    align-items: center;
    justify-content: center;
}

html {
    height: 100%;
}

#main, #app {
    height: 100vh;
}

main {
    height: 95vh;
}

.header-logo {
    max-width: 2.5rem;
    max-height: 2rem;
    flex: 1;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: 	#f9fcff;
    flex: 6 0 60%;
    margin-left: 10px;
}

.navbar-toggler {
    flex: 1 0 10%;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: 	#f9fcff;
}

.navbar, .navbar-nav {
    background-color: #4a90e2;
}

.btn-primary {
    background-color: #4a90e2;
}

.success {
    background-color: #89b23d;
}

.home-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 300px;
    flex-wrap: wrap;
    margin: 0 1rem;
}

.full-height {
    height: 95vh;
}

.home-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image, .home-auth-card {
    flex: 1 0 47%;
    margin: 0 1rem;
    max-width: 400px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-header-image {
    max-height: 1rem;
    max-width: 1.5rem;
    margin-right: 20px;
}

.home-card-header {
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
}

.home-auth-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.home-card-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.card-body, .card-text {
    width: 100%;
    align-self: center;
    text-align: center;
}

.home-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-btns.btn {
    max-width: 47%;
    font-weight: bold;
}

.divider {
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    width: 80%;
}

.no-error {
    visibility: hidden;
}

.error {
    visibility: visible;
    color: red;
    font-size: 15px;
    margin-top: 3px;
    margin-left: 2px;
}

.auth-form-container {
    margin-top: 1rem;
    padding: 30px 20px;
    width: 80%;
    min-width: 280px;
    background-color: #fff;
    border-radius: 10px;;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.regular {
    margin-top: 5.5rem;
}

.form-label {
    font-weight: bold;
}

footer {
    margin-top: 1rem;
    position: fixed;
}

.reg-btn {
    min-width: 250px;
    width: 100%;
    align-self: center;
    margin-top: 25px;
}

#registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.alert {
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

.fa-heart, .fa-heart-o {
    width: 30px;
    height: 30px;
    
}